* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0a0a0f;
    color: #fff;
}

/* Two-column layout */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: linear-gradient(180deg, #1a1b26, #10111a);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #2b2c38;
}

.app-header h2 {
    color: #a654f7;
    font-weight: 600;
}

.app-header p {
    font-size: 0.8rem;
    color: #aaa;
}

.sidebar .app-header a{
    text-decoration: none;
    color: #aaa;
}

/* Menu links */
.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

.menu a {
    text-decoration: none;
    color: #aaa;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.2s;
}

.menu a:hover, .menu a.active {
    background-color: #a654f7;
    color: #fff;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 40px 60px;
}

/* Section Header */
.section-header h3 {
    color: #a654f7;
    font-size: 1.5rem;
}

.section-header p {
    color: #aaa;
    margin-bottom: 30px;
}
.main-content .container{
    width: 50%;
    height: 100vh;
    background-color: #0a0a0f;
    display: inline-block;
    align-items: center;
    justify-content: left;
}
.first-row{
    display: flex;
    flex-direction: row;
}
.weeklyProgress{
    background-color: #1a1a2e;
    padding: 20px;
    box-shadow: 0 0 12px rgba(150, 80, 255, 0.6);
    border-radius: 10px;
    min-width: 47vh;
}
.weeklyProgress h1{
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
}
.weeklyProgress h2{
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 2px;
    color: #fff;
    font-size: 14px;
}
.progress-bar{
    background: #959595;
    width: 900;
    height: 5px;
    border-radius: 5px;
}
.progress-bar div{
    height: 5px;
    border-radius: 5px;
    width: 0%;
    background: #a654f7;

    animation: progress-bar 1s ease forwards;
}
.progress-bar .study-hours{
    animation: study-hours 1s ease forwards;
}
.progress-bar .flashcards-reviewed{
    animation: flashcards-reviewed 1s ease forwards;
}
.progress-bar .focus-sessions{
    animation: focus-sessions 1s ease forwards;
}
.progress-bar div span{
    height: 20px;
    width: 20px;
    font-size: 10px;
    border: solid hsl(270, 91%, 70%) 1px;
    border-radius: 50%;
    background-color: #222;
    float: right;
    margin-top: -8px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: html 1s linear forwards;
}

@keyframes study-hours{
    100%{
        width: 65%;
    }
}
@keyframes flashcards-reviewed{
    100%{
        width: 45%;
    }
}
@keyframes focus-sessions{
    100%{
        width: 78%;
    }
}


.recentAcitivies{
    background-color: #1a1a2e;
    padding: 20px;
    box-shadow: 0 0 12px rgba(150, 80, 255, 0.6);
    border-radius: 10px;
    min-width: 47vh;
    margin-left: 30px;
}
.recentAcitivies h1{
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
}
.recentAcitivies h2{
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 2px;
    color: #fff;
    font-size: 16px;
}
.recentAcitivies h4{
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
}
.recentAcitivies li{
    margin-left: 15px;
}

.second-row{
    margin-top: 30px;
}
.tasks-div{
    background-color: #18182b;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(150, 80, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    min-width: 97vh;
    min-height: 50vh;
}
.tasks-div h1{
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.header input{
    height: 35px;
    width: 400px;
    margin-left: 275px;
    margin-right: 20px;
    background-color: #181c33;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(150, 80, 255, 0.6);
}
.header button{
    color: #fff;
    background-color: #a654f7;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    height: 35px;
    width: 90px;
    border: #a654f7;
}
button:hover {
    cursor: pointer;
}
.task-container {
    display: flex;
    justify-content: space-between;
}
.task-list, span{
    margin-top: 20px;
}
.task-list li {
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task-list li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 8px;
}
.task-list li.checked{
    color: #555;
    text-decoration: line-through;
}
.task-list li.checked::before{
    background-image: url("images/checked.png");
}
.task-list li span{
    position: absolute;
    right: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
.task-list li span:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 58%);
}
.task-status {
    flex: 1;
    padding: 10px;
}
